
#org-chart {
  font-family: Arial, sans-serif;
  color:black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.node {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  gap: 10px;
  transition: 0.2s;
}

.node:hover {
  background: #dfefff;
}

.children {
  display: none;
}

.node.open + .children {
  display: flex;
  gap: 6px;
  justify-content: space-between;
}

.tituloNome{
    font-size: 16px;
    font-weight: 600;
}

.cargo{
    font-size: 14px;
    font-weight: 400;
}

.btnModal{
    font-size: 14px;
    font-weight: 400;
    color:black;
    text-decoration: none;
}

#user-card {
  position: fixed;
  right: 20px;
  top: 20px;
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.hidden {
  display: none;
}